<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.star.imhi">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/home">
        <activity
            android:name=".UI.LoginActivity"
            android:label=""
            android:launchMode="singleTask">
            <intent-filter android:label="QQ">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:label="" />
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.MainActivity" />

        <service android:name=".mina.MyService" />

        <activity android:name=".UI.HomepageActivity" />
        <activity android:name=".activity.Camera" />
        <activity android:name=".activity.Picture" />
        <activity android:name=".activity.ShowPicture" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.Message"
            android:label="" />
        <activity
            android:name=".activity.Setting"
            android:label="" />
        <activity android:name=".activity.HomePage" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dc.tx.fileprovider.IMAGE_CAPTURE"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picture_paths" />
        </provider>

        <activity
            android:name=".addfriend.DetailsActivity"
            android:label="详细资料"
            android:logo="@drawable/left" />
        <activity android:name=".addfriend.MoreActivity" />
        <activity android:name=".addfriend.RemarksActivity" />
        <activity android:name=".addfriend.AddFriendActivity" />
        <activity android:name=".personally.Personal_information" />
        <activity android:name=".personally.PersonalMoreActivity"></activity>
    </application>

</manifest>